<!DOCTYPE html>
<html lang="en">
<head>
	<title>Register</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load static %}
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'font-awesome.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'icon-font.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'animate.css'%}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'hamburgers.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'animsition.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'select2.min.css'%}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'daterangepicker.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'util.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'main.css'%}">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title"  style="background-image:url({% static '1.jpg'%})">
					
					<span class="login100-form-title-1">
						Flight Details
					</span>
				</div>

				<form action ="flightdetails" method="POST" class="login100-form validate-form">
					{% csrf_token %}
                    <div class="wrap-input100 validate-input m-b-26" data-validate="First Name is required">
						<span class="label-input100">Flight Number</span>
						<input class="input100" type="text" name="Fnumber" placeholder="Enter Flight number">
						<span class="focus-input100"></span>
					</div>
                    <div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
						<span class="label-input100">Company Name</span>
						<input class="input100" type="Name" name="coname" placeholder="Enter Company Name">
						<span class="focus-input100"></span>
					</div>
                    <div class="wrap-input100 validate-input m-b-26" data-validate="Last Name is required">
						<span class="label-input100">from-destination</span>
						<input class="input100" type="text" name="fromdest" placeholder="Enter From-destination">
						<span class="focus-input100"></span>
					</div>
                    <div class="wrap-input100 validate-input m-b-26" data-validate="Email is required">
						<span class="label-input100">to-destination</span>
						<input class="input100" type="text" name="todest" placeholder="Enter to-destination">
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
						<span class="label-input100">Tickets available</span>
						<input class="input100" type="text" name="nooftickets" placeholder="Enter no of tickets">
						<span class="focus-input100"></span>
					</div>
					<div class="container-login100-form-btn">
						<input type="submit" class="login100-form-btn" placeholder="Register">
							
					</div>
				</form>
				<div>
					{% for message in messages %}
					<h3>{{message}}</h3>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	
<!--===============================================================================================-->
<script src="{% static 'jquery-3.2.1.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'animsition.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'popper.js'%}"></script>
	<script src="{% static 'bootstrap.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'select2.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'moment.min.js'%}"></script>
	<script src="{% static 'daterangepicker.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'countdowntime.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'main.js'%}"></script>

</body>
</html>